## SQLite
---

In [2]:
:dep rusqlite

In [3]:
use rusqlite::{params, Connection, Result};

In [4]:
#[derive(Debug)]
struct Test {
    id: i32,
    name: String,
    value: i32,
}

In [5]:
let conn = Connection::open_in_memory()?;

In [6]:
conn.execute(
    "CREATE TABLE test (
        id INTEGER PRIMARY KEY,
        name TEXT NOT NULL,
        value INTEGER
    )",
    (),
)?;

In [7]:
for (name, value) in [("Test1", 100), ("Test2", 50), ("Test3", 80)] {
    conn.execute(
        "INSERT INTO test (name, value) VALUES (?1, ?2)",
        params![name, value],
    )?;
}

()

In [8]:
{
    let mut stmt = conn.prepare("SELECT id, name, value FROM test")?;
    let test_iter = stmt.query_map((), |row| {
        Ok(Test {
            id: row.get(0)?,
            name: row.get(1)?,
            value: row.get(2)?,
        })
    })?;
    for test in test_iter {
        println!("Found test: {:?}", test?);
    }
}

Found test: Test { id: 1, name: "Test1", value: 100 }
Found test: Test { id: 2, name: "Test2", value: 50 }
Found test: Test { id: 3, name: "Test3", value: 80 }

()